p {
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

figcaption {
	text-align: center;
	color: var(--colorTextSubtle);
	font-style: italic;
	font-size: 1rem;
}

figure {
	margin: 4rem auto 3.5rem auto;
	max-width: 400px;
}

.github-dark {
	font-family: var(--fontBrand);
}

pre {
	padding: 1em;
	border-radius: var(--borderRadius);
}

pre > code {
	all: unset;
}

code {
	font-size: 1rem;
	background-color: var(--colorSurfaceSubtle);
	padding: 0.1em 0.1em;
	border-radius: var(--borderRadius);
}

blockquote {
	border-left: 4px solid var(--colorBrand);
	background-color: var(--colorBrandTransparent);
	padding: 0.5rem 1rem;
}

hr {
	border: none;
	border-top: 1px solid var(--colorBorder);
	margin: 2px 0 1px 0;
}

blockquote p {
	font-size: 1.25rem;
	font-style: italic;
	margin-bottom: 0;
	font-weight: 600;
}

blockquote p:before {
	content: "“";
	font-size: 1.5rem;
	margin-right: 0.25rem;
}

blockquote p:after {
	content: "”";
	font-size: 1.5rem;
	margin-left: 0.25rem;
}
