---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="container">
      <h1>(✖﹏✖)</h1>

      <p>
        Whoops, you're lost in space! <br />This page doesn't exist.
      </p>
      <a href="/">Take me home</a>
    </div>
  </body>
</html>

<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    background: var(--colorSurfaceDefault);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    padding: 2rem;
    max-width: min(500px, 70vw);
    text-align: center;
  }

  h1 {
    color: var(--colorBrand);
  }

  p {
    margin-bottom: 1.5rem;
  }
</style>
